<h1>Burgers</h1>

<h2>Burgers That aren't Devoured yet</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/unless}}
  {{/each}} 
</ul>

<h2>Burgers That are Devoured</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a burger</h2>
<form id="createBurger">

  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <input type="text" id="burger" name="name">
  </div>

 <button type="submit">Add Burger</button>
</form>

<script type="text/javascript">
    $("#createBurger").on("submit", function(event){
        
        event.preventDefault();
        var newBurger = {
            burger_name: $("#burger").val().trim(),
            devoured: "false"
        }
        $.ajax("/api/burgers/", {
            method: "POST", 
            data: newBurger
        }).then(
            function(){
                location.reload();
            }
        );
    });
    $(".changeDevoured").on("click", function(event){
        event.preventDefault();
        
        var id = $(this).data("id");
        console.log("id: " + id);
        console.log("In changeDevoured: ");
        $.ajax("/api/burgers/"+id,{
            method: "PUT",
            data: id
        }).then( function(){
            location.reload();
        });
    });
</script>
