li {
    padding: 25px;
    list-style:none;
    /* margin: 5px; */
    background: rgb(255, 0, 255);
  }
  
  .label {
    font-weight: bold;
  }
  
  #createBurger {
    padding: 5px;
    margin: 5px;
    background: rgb(255, 0, 255);
  }
  
  .form-group {
    margin-bottom: 5px;
    margin-top: 10px;
    
  }
 
  .container{
      padding:10px;
      background-color: dimgrey;
  }
.jumbotron{
    height: 200px;
    padding: 10px;
    background-image: url("/assets/img/color-burger2.png");
    background-size: 15%;
    background-position-x: 10px;
    background-position-y: 10px;
    background-repeat: no-repeat;
}