<li style="padding: 10px">
	{{burger_name}}
    {{#unless devoured}}
        <button style="float: right" class="changeDevoured btn btn-primary btn-sm" data-id="{{id}}" data-devoured="{{devoured}}">
            Devour!
        </button>
    {{/unless}}
    
</li>