<li>
	{{burger_name}}
    {{#unless devoured}}
        <button class="changeDevoured" data-id="{{id}}" data-devoured="{{devoured}}">
            GIT THAT SHIT!
        </button>
    {{/unless}}
    
</li>